<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container container-nav">
    <div class="navbar-header">
      <a ui-sref="main()"><img class="logo-xs hidden-sm hidden-md hidden-lg" src="../assets/images/good-to-go.png" width="50" height="50" alt="I'm Yeoman"></a>
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav hidden-xs">
        <li><a ui-sref="main()"><img class="logo" src="../assets/images/good-to-go.png" width="88" height="88" alt="I'm Yeoman"></a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm hidden-md hidden-lg">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
          <a ui-sref="{{item.state}}" ng-click="nav.isCollapsed = !nav.isCollapsed">{{item.title}}</a>
        </li>
        <!--<li role="separator" class="divider"></li>-->
        <!--<li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>-->
        <!--<li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>-->
        <!--<li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings">{{ nav.getCurrentUser().name }}</a> </li>-->
        <!--<li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
          <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <!--<li role="separator" class="divider"></li>-->
        <!--<li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>-->
        <!--<li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>-->
        <!--<li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings">{{ nav.getCurrentUser().name }}</a> </li>-->
        <!--<li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>-->
      </ul>
    </div>
  </div>
</div>
